cs50
Flask
Flask-Session
requests
appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
Authlib==0.15.2
autopep8==1.5.4
awscli==1.18.185
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.9.3
botocore==1.19.25
braceexpand==0.1.6
cachelib==0.1.1
cairocffi==1.2.0
CairoSVG==2.5.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
check50==3.2.0
click==7.1.2
colorama==0.4.3
compare50==1.2.2
cryptography==3.2.1
# cs50==6.0.1
cssselect2==0.4.1
cycler==0.10.0
defusedxml==0.6.0
distlib==0.3.1
docutils==0.15.2